# Streamlit dashboard
streamlit

# MongoDB driver
pymongo==4.7.2

# PyYAML para configuração dos arquivos
pyyaml>=5.3

# Pandas para manipulação
pandas==2.2.2

# Plotly para visualização
plotly==5.15.0